# Defines plugins to load

# Define plugin folder
PluginFolder=.

# Define plugins
Plugin=WPGraphicsOgreNext
Plugin=WPSQLite
Plugin=WPPhysx
Plugin=WPOISInput
Plugin=WPAssimp
Plugin=WPLua
Plugin=WPAudio
Plugin=WPVehiclePhysics
Plugin=WPApplication
