# Defines plugins to load

# Define plugin folder
PluginFolder=.

# Define plugins
Plugin=WPGraphics
Plugin=WPAssimp
Plugin=WPSQLite
Plugin=WPPhysics
Plugin=WPLua
Plugin=WPAudio
Plugin=WPVehiclePhysics
Plugin=WPOISInput
Plugin=WPProcedural
#Plugin=WPApplication
