# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Hh]oudiniTemp/
/Assets/AssetStoreTools*
/cmake-build-debug*
/cmake-build-release*

/.vs/
/.DS_Store/

# Builds
*.apk
*.unitypackage

steam_appid.txt
.vs
/AdditionalLibraries
/Demos/Procedural/Assets/_game/Houdini/Project/Road/backup
/Demos/Procedural/Assets/BuildRCities/Assets/Textures/Generated
/Dependencies/physx/Source/compiler/vc14win64/*.user
/project_x64
/libs/windows*
/Bin/windows*
/Bin/windows/v143/x64/MD/RelWithDebInfo/imgui.ini
/project_vs2022_x64_dll
/linux
/Documents
/.idea
/cmake-build-minsizerel
/cmake-build-relwithdebinfo
/Bin/windows/v143/x64/MD/RelWithDebInfo/imgui.ini
/project_x86
/csharp_temp
/project_double
/project_x32
/project_x64_2022
/project_x64_22
/project_x64_26
/UnitTests.log
/WP_Tests.log
/vehicle.prefab
/unit_full.err.txt
/unit_full.out.txt
/unit_parameter.err.txt
/unit_parameter.out.txt
/unit_parameter_all.err.txt
/unit_parameter_all.out.txt
/car.prefab
/query_response_formatted.txt
/response_formatted.txt
/test_filesystem
/unit_filesystem.err.txt
/unit_filesystem.out.txt
/unit_slice.err.txt
/unit_slice.out.txt
/138986b2-4fa1-7bc0-0ed4-24777a214fce.resourcedata
/c457957c-0100-0000-f307-787c01000000.resourcedata
/London.fbscene
/unit_env_slice.err.txt
/unit_env_slice.out.txt
/unit_full_2.err.txt
/unit_full_2.out.txt
/bullsmoor_small.fbscene
/unit_cluster2.err.txt
/unit_cluster2.out.txt
/aac3d2e7-9c3d-7317-8e01-7d1b4cd0dcc8.resourcedata
/mesh_tests.err.txt
/mesh_tests.out.txt
/raycasts_mesh_basic.err.txt
/raycasts_mesh_basic.out.txt
/__pmegen_part1.ps1
/graphics_render_target_size_accessors.err.txt
/graphics_render_target_size_accessors.out.txt
/ui_run_capture.txt
/project_x64_final
/project_x64_pch
/MemoryLeaks.log
/project_android_arm64
/Bin/android/arm64-v8a/RelWithDebInfo
/libs/android/arm64-v8a/RelWithDebInfo/libWPRuntime.so
/android_build.log
/project_x64_vs2022
/build_ninja
/wpimgui-build.log
/project_graphics_contracts/
/project_claw_windows/
/project_asset_catalog/
/project_wpgraphics_baseline/
/wpimgui-build.log
/*.log
/Samples/cpp/VehicleAdvanced/review

# Generated shared copy of the vehicle sample audio asset pack.
/bin/Media/Audio/VehicleAdvanced/
/project_graphics_effects_tests
/.github
